<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
  version="2.4">

  <!-- display name -->
  <display-name>CHINTAI.NET</display-name>

  <!-- Servlet Filter -->
  <!-- エンコーディングフィルタ -->
  <filter>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>
      org.springframework.web.filter.CharacterEncodingFilter
    </filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- 不正パラメータチェックフィルター -->
  <filter>
	<filter-name>ParameterCheckFilter</filter-name>
	<filter-class>
	  net.chintai.backend.sysadmin.common.filter.ParameterCheckFilter
	</filter-class>
  </filter>
  <filter-mapping>
	<filter-name>ParameterCheckFilter</filter-name>
	<url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- ログイン認証フィルタ -->
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>
      net.chintai.backend.sysadmin.common.filter.LoginFilter
    </filter-class>
    <init-param>
      <param-name>forwardUrl</param-name>
      <param-value>/WEB-INF/jsp/error/SessionNotFound.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>exclude</param-name>
      <param-value>
        Login.do,
        Logout.do,
        7daysmenu.do,
        menu.do
      </param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>*.admin</url-pattern>
  </filter-mapping>

  <!-- Standard Action Servlet Configuration (with debugging) -->
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>
    	<!-- crnwl
    		org.apache.struts.action.ActionServlet
    	-->
      net.chintai.backend.sysadmin.crnwl.web.struts.ContextExposingActionServlet
    </servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>
        /WEB-INF/conf/struts/struts-config-common.xml,
        /WEB-INF/conf/struts/struts-config-login.xml,
        /WEB-INF/conf/struts/struts-config-profile.xml,
        /WEB-INF/conf/struts/struts-config-shop.xml,
        /WEB-INF/conf/struts/struts-config-bukken.xml,
        /WEB-INF/conf/struts/struts-config-asp.xml,
        /WEB-INF/conf/struts/struts-config-review.xml,
        /WEB-INF/conf/struts/struts-config-shopinquiry.xml,
        /WEB-INF/conf/struts/struts-config-cjninquiry.xml,
        /WEB-INF/conf/struts/struts-config-user.xml,
        /WEB-INF/conf/struts/struts-config-ad.xml,
        /WEB-INF/conf/struts/struts-config-sevendays.xml,
        /WEB-INF/conf/struts/struts-config-demand.xml,
        /WEB-INF/conf/struts/struts-config-master.xml,
        /WEB-INF/conf/struts/struts-config-shopListing.xml,
        /WEB-INF/conf/struts/struts-config-addataMatching.xml,
        /WEB-INF/conf/struts/struts-config-dataoutput.xml,
        <!-- crnwl -->
        /WEB-INF/conf/struts/crnwl/struts-config-shop.xml
      </param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>4</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>

	<servlet>
		<servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
			   /WEB-INF/conf/spring/mvc*.xml
			</param-value>
		</init-param>
		<load-on-startup>9</load-on-startup>
	</servlet>

  <!-- Standard Action Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Spring MVC Dispatcher Servlet</servlet-name>
    <url-pattern>*.admin</url-pattern>
  </servlet-mapping>

  <!-- DWR Servlet Settings -->
  <servlet>
    <display-name>DWR Servlet</display-name>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>
      uk.ltd.getahead.dwr.DWRServlet
    </servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
	  <param-name>crossDomainSessionSecurity</param-name>
	  <param-value>false</param-value>
	</init-param>
  </servlet>

  <!-- DWR Servlet Mappings -->
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>

  <!-- The Usual Welcome File List -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <!-- Application Context XML Files Path -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/conf/spring/app*.xml</param-value>
  </context-param>

  <!-- HTTP Error Page -->
  <error-page>
    <error-code>400</error-code>
    <location>/WEB-INF/jsp/error/http/400.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/WEB-INF/jsp/error/http/403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/jsp/error/http/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/jsp/error/http/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/WEB-INF/jsp/error/http/503.jsp</location>
  </error-page>
  <error-page>
    <error-code>410</error-code>
    <location>/WEB-INF/jsp/error/http/410.jsp</location>
  </error-page>


  <!-- Listener -->
  <listener>
    <listener-class>
      org.springframework.web.context.ContextLoaderListener
    </listener-class>
  </listener>

   <!-- Session timeout -->
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>

	<jsp-config>
		<taglib>
			<taglib-uri>http://www.chintai.net/sysadmin/crnwl/jstl/Utils
			</taglib-uri>
			<taglib-location>/WEB-INF/classes/META-INF/crnwl.tld</taglib-location>
		</taglib>
	</jsp-config>

</web-app>